* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.logo {
  width: 10rem;
  height: 10rem;
  position: relative;
  right: 45vh;
}

nav ul li {
  display: flex;
  list-style: none;
  gap: 10rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  color: rgb(8, 89, 8);
}


.buttons {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 0.2rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  position: relative;
  top: 4vh;
  right: 2vh;
  border-radius: 10%;
}

.buttons:hover {
  cursor: pointer;
}

.headerButton {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 2px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  position: relative;
  left: 55vh;
}

header {
  background: #EDF1D6;
  border-radius: 1.5rem;
  margin-left: 1.5rem;
  box-shadow: 1 1rem 5rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  border: 2px solid #006400;
  color: rgb(8, 89, 8);

}

body {
  padding: 2rem;
  background: linear-gradient(135deg, #FCEAB8, #FFEEC3);
  font-size: 2rem;
}

.dashboard {
  width: 100%;
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.section--first {
  grid-column: 1/8;
  grid-row: span 21;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  padding-bottom: 2rem;
  padding-top: 0;
}

.card {
  background: #EDF1D6;
  height: 50%;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  border: 2px solid #006400;
}

.card--first {
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: none;
  border: 3px solid #006400;
  background-color: black;
  overflow: hidden;
}

.paragraaf1 {
  position: absolute;
  line-height: 200%;
  color: lightgray;
  text-shadow:
    0 0 7px black,
    0 0 10px black,
    0 0 21px gray,
    0 0 42px #fff,
    0 0 82px #fff,
    0 0 92px #fff,
    0 0 102px #fff,
    0 0 151px #fff;

}


.schaalPlaatje {
  width: 100%;
  height: 100%;
  transition: 0.6s transform;
}

.tijdPlaatjes {}

.card--first:hover .schaalPlaatje {
  transform: scale(2);

}

.card--second {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(to bottom, #fce38a 0%, #ff8a5b 50%, #5c6bc0 50%, #64b5f6 100%);
  font-size: 3rem;
}


.card--second>p {
  padding: 2rem
}




.card--fourth {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 10px solid #006400;
  background: #A4BC92;
  background: rgb(2, 0, 36);
  background: radial-gradient(#9DC08B 0%, #609966 50%, #006400 100%);
}

.card--fifth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 2.5rem;
  text-align: center;

}

.temperatuur {
  transform: scale(1.5);
  color: black;
  text-shadow:
    0 0 7px #A4BC92,
    0 0 1rem #A4BC92,
    0 0 2.1rem #A4BC92,
    0 0 4.2rem #A4BC92,
    0 0 8.2rem #A4BC92,
    0 0 9.2rem #A4BC92,
    0 0 10.2rem #A4BC92,
    0 0 15.1rem #A4BC92;
  margin-left: 35%;
  margin-right: 27%;
  line-height: 200%;

}



.section--second {
  grid-column: 8/21;
  grid-row: span 21;
  background: #eee;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}



.section--third {
  grid-row: 1/21;
  grid-column: 21/31;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 0px 2rem 0rem;
}

.section--second>canvas {
  height: 200px;
  width: 100%;

}

.section--second canvas {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.chart3 {}



@media screen and (max-width: 87.5rem) {
  .dashboard {
    grid-template-rows: repeat(12, 20rem);
    height: auto;
    gap: 2rem;
  }

  .section--first {
    grid-column: 1/ -1;
    grid-row: 1 / 7;
    padding: 0;
    padding-bottom: 2rem;
    padding-right: 0rem;
  }

  .card {
    flex-grow: 0;
  }

  .section--second {
    grid-column: 1/-1;
    grid-row: 7/13;
  }
}